################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Library/bin
/Library/obj
/Library/Logs
/Library.Objects/bin
/Library.Objects/obj
/Library.Tests/bin
/Library.Tests/obj
